<section class="content-header width-responsive flex-r jc-b gap-20 ai-c">
    <div class="menu-sidebar hide-desktop">
        <div class="content-logo padding-l-20">
            <div class="logo-ct"></div>
        </div>
    </div>
    <div class="menu-burger" id="usuario-menu">
        <input id="usuario-page" type="checkbox" class="hide"/>
        <label id="usuario-page-label" for="usuario-page" class="flex-c jc-b gap-20">
            <div class="btn-burger-float hide-desktop">
                <svg class="bs-icon"><use xlink:href="#i-menu"></use></svg>
            </div>
            <div class="content-menu-burger flex-c-r jc-b gap-20">
                <div class="content-input input-right">
                    <input type="text" placeholder="Search">
                    <button><svg class="bs-icon"><use xlink:href="#i-search"></use></svg></button>
                </div>
                <div class="flex-_c-r gap-20-30">
                    <div class="list-contact flex-c-r gap-10 ai-c">
                        <div class="dropdown">
                            <button type="button" id="dropdownMenuButton1" data-toggle="dropdown" class="ct-btn-rect ct-btn-white flex-r ai-c gap-5 hide-mobile" aria-expanded="false">
                                <svg class="bs-icon"><use xlink:href="#i-message"></use></svg>
                                <span>Soporte</span>
                                <svg class="bs-icon"><use xlink:href="#i-arrow-down-sm"></use></svg>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <div class="flex-c gap-10">
                                    <li><a class="dropdown-item flex-r gap-5 max-230" href="mailto:cobranzasconsolidador@continentaltravel.com.pe"><svg class="bs-icon"><use xlink:href="#i-msg"></use></svg><div class="flex-c text-continue"><b>Cobranzas</b><span class="font-sz-10-12">cobranzasconsolidador@continentaltravel.com.pe</span></div></a></li>
                                    <li><a class="dropdown-item flex-r gap-5 max-230" href="mailto:comisionesconsolidador@continentaltravel.com.pe"><svg class="bs-icon"><use xlink:href="#i-msg"></use></svg><div class="flex-c text-continue"><b>Comisiones</b><span class="font-sz-10-12">comisionesconsolidador@continentaltravel.com.pe</span></div></a></li>
                                    <li><a class="dropdown-item flex-r gap-5 max-230" href="mailto:facturacionconsolidador@continentaltravel.com.pe"><svg class="bs-icon"><use xlink:href="#i-msg"></use></svg><div class="flex-c text-continue"><b>Facturación</b><span class="font-sz-10-12">facturacionconsolidador@continentaltravel.com.pe</span></div></a></li>
                                    <li><a class="dropdown-item flex-r gap-5 max-230" href="mailto:contado@continentaltravel.com.pe"><svg class="bs-icon"><use xlink:href="#i-msg"></use></svg><div class="flex-c text-continue"><b>Wallet</b><span class="font-sz-10-12">contado@continentaltravel.com.pe</span></div></a></li>
                                </div>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button type="button" id="dropdownMenuButton2" data-toggle="dropdown" class="ct-btn-rect ct-btn-white flex-r ai-c gap-5 hide-mobile" aria-expanded="false">
                                <span class="hide">Notificación</span>
                                <svg class="bs-icon"><use xlink:href="#i-notification"></use></svg>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <div class="flex-c gap-10">
                                    <li><a class="dropdown-item flex-r gap-5 ai-c" href="#"><svg class="bs-icon"><use xlink:href="#i-msg"></use></svg><span>Action</span></a></li>
                                    <li><a class="dropdown-item flex-r gap-5 ai-c" href="#"><svg class="bs-icon"><use xlink:href="#i-msg"></use></svg><span>Another action</span></a></li>
                                    <li><a class="dropdown-item flex-r gap-5 ai-c" href="#"><svg class="bs-icon"><use xlink:href="#i-msg"></use></svg><span>Something else here</span></a></li>
                                </div>
                            </ul>
                        </div>
                        <button class="ct-btn-rect ct-btn-white flex-r ai-c gap-5 as-l-c">
                            <svg class="bs-icon"><use xlink:href="#i-call"></use></svg>
                            <span class="hide-desktop">Call Center</span>
                        </button>
                    </div>
                    <div class="dropdown">
                        <a id="dropdownMenuButton4" class="header-login flex-r ai-c gap-10" type="button" data-toggle="dropdown">
                            <div class="AvatarUser"></div>
                            <div class="name-user-header">
                                <b>Arthur Diaz</b>
                                <p>jdiaz@continentaltravel.com.pe</p>
                            </div>
                            <svg class="bs-icon hide-mobile"><use xlink:href="#i-arrow-down-sm"></use></svg>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                            <div class="flex-c gap-10">
                                <li><a class="dropdown-item flex-r gap-5" href="#"><svg class="bs-icon"><use xlink:href="#i-user"></use></svg><div class="flex-c">Mi cuenta</div></a></li>
                                <li><a class="dropdown-item flex-r gap-5" href="#"><svg class="bs-icon"><use xlink:href="#i-foco"></use></svg><div class="flex-c">Historial</div></a></li>
                                <li><a class="dropdown-item flex-r gap-5" href="#"><svg class="bs-icon"><use xlink:href="#i-salida"></use></svg><div class="flex-c">Cerrar Sesión</div></a></li>
                            </div>
                        </ul>
                    </div>
                </div>
                
            </div>
        </label>
    </div>
</section>

<script>
    $(document).ready(function(){
        
    })
</script>