<a href="index.html" class="dynamic-link">
    <picture class="img-logo-extended logo-header">
        <source srcset="../../Content/img/log-iso-2.png" type="image/jpeg">
        <img src="../../Content/img/log-iso-2.png" alt="logo" draggable="false">
    </picture>
    <picture class="img-logo-extended logo-sidebar">
        <source srcset="../../Content/img/log-iso-1.png" type="image/jpeg">
        <img src="../../Content/img/log-iso-1.png" alt="logo" draggable="false">
    </picture>
    <picture class="img-logo-collapse logo-sidebar">
        <source srcset="../../Content/img/logo-1.png" type="image/jpeg">
        <img src="../../Content/img/logo-1.png" alt="logo" draggable="false">
    </picture>
</a>