<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas de Comisiones</title>
    
    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/css/style.css" rel="stylesheet">
    
</head>
<body class="icons-svg flex-c">
    <!-- Biblioteca Iconos -->
    <div id="libreria-icons-svg"></div>
    
    <!-- Menu Left Sidebar -->
    <div id="menuSidebarLeft" class="sidebar"></div>
    
    <!-- Header Page -->
    <header>
        <div id="headerPageTop"></div>
    </header>

    <!-- Main Page -->
    <main>
        <section class="content-main width-responsive flex-c gap-20">
            <nav aria-label="breadcrumb">
                <ol id="breadcrumbs" class="list-breadcrumb flex-r gap-5 ai-c"></ol>
            </nav>
            <article id="accordionComisiones" class="accordionComisiones flex-c gap-20">
                <card>
                    <button data-target="#tabla-collapse-1" data-toggle="collapse" class="flex-r ai-c jc-b w-100 ct-btn ct-btn-white" aria-expanded="false">
                        <img src="../../Content/img/logos/LA.png" alt="" class="w-100px">
                        <div class="flex-r ai-c gap-5">
                            <span>Ultima modificación 01/10/2024</span>
                            <svg class="bs-icon icon-rotate"><use xlink:href="#i-arrow-down-sm"></use></svg>
                        </div>
                    </button>
                    <div class="cont-comisiones collapse padding-10 w-100" id="tabla-collapse-1" aria-labelledby="tabla-collapse" data-parent="#accordionComisiones">
                        <table width="100%">
                            <tr><th>Ruta Aérea</th><th>Comisión/Fee</th></tr>
                            <tr><td>NACIONAL en BASIC (QP)</td><td>0%</td></tr>
                            <tr><td>NACIONAL en LIGHT (SL)</td><td>0%</td></tr>
                            <tr><td>NACIONAL en FULL (KD)</td><td>0%</td></tr>
                            <tr><td>NACIONAL en PREMIUM (RY)</td><td>0%</td></tr>
                            <tr><td>Internacional en LIGHT (SL) Regional y Europa</td><td>0%</td></tr>
                            <tr><td>Internacional en STANDARD (KM/Plus)</td><td>0%</td></tr>
                            <tr><td>Internacional en FULL (KD)</td><td>0%</td></tr>
                            <tr><td>Internacional en PREMIUM ECO (RL/RY) BUSINESS (EJ)</td><td>0%</td></tr>
                            <tr><td>Tarifas Privadas</td><td>0% - Fee $00</td></tr>
                            <tr><td>Ancillaries NDC por autogestión </td><td>0%</td></tr>
                        </table>
                    </div>
                </card>
                <card>
                    <button data-target="#tabla-collapse-2" data-toggle="collapse" class="flex-r ai-c jc-b w-100 ct-btn ct-btn-white" aria-expanded="false">
                        <img src="../../Content/img/logos/AR.png" alt="" class="w-100px">
                        <div class="flex-r ai-c gap-5">
                            <span>Ultima modificación 01/10/2024</span>
                            <svg class="bs-icon icon-rotate"><use xlink:href="#i-arrow-down-sm"></use></svg>
                        </div>
                    </button>
                    <div class="cont-comisiones collapse padding-10 w-100" id="tabla-collapse-2" aria-labelledby="tabla-collapse" data-parent="#accordionComisiones">
                        <table width="100%">
                            <tr><th>Ruta Aérea</th><th>Comisión/Fee</th></tr>
                            <tr><td>Rutas desde Lima hacia BUE/AEP/COR/IGR/BRC/MDZ/SLA/TUC/USH/FTE/ROS//NQN/UAQ excepto FareBasis que incluyan PRO/PROM/PROMO</td><td>0%</td></tr>
                            <tr><td>Tarifas bts / negociadas </td><td>0% - Fee $00</td></tr>
                            <tr><td>Otras rutas</td><td>0%</td></tr>
                        </table>
                    </div>
                </card>
                <card>
                    <button data-target="#tabla-collapse-3" data-toggle="collapse" class="flex-r ai-c jc-b w-100 ct-btn ct-btn-white" aria-expanded="false">
                        <img src="../../Content/img/logos/AV.png" alt="" class="w-100px">
                        <div class="flex-r ai-c gap-5">
                            <span>Ultima modificación 01/10/2024</span>
                            <svg class="bs-icon icon-rotate"><use xlink:href="#i-arrow-down-sm"></use></svg>
                        </div>
                    </button>
                    <div class="cont-comisiones collapse padding-10 w-100" id="tabla-collapse-3" aria-labelledby="tabla-collapse" data-parent="#accordionComisiones">
                        <table width="100%">
                            <tr><th>Ruta Aérea</th><th>Comisión/Fee</th></tr>
                            <tr><td>Desde Lima Económica Basic y Light</td><td>0%</td></tr>
                            <tr><td>Desde Lima Económica Classic</td><td>0%</td></tr>
                            <tr><td>Desde Lima Flex y Business</td><td>0%</td></tr>
                            <tr><td>RUTAS QUE NO INICIAN EN LIMA FEE</td><td>0% - Fee $00</td></tr>
                            <tr><td>Tramos internos</td><td>0% - Fee $00</td></tr>
                        </table>
                    </div>
                </card>
                <card>
                    <button data-target="#tabla-collapse-4" data-toggle="collapse" class="flex-r ai-c jc-b w-100 ct-btn ct-btn-white" aria-expanded="false">
                        <img src="../../Content/img/logos/UA.png" alt="" class="w-100px">
                        <div class="flex-r ai-c gap-5">
                            <span>Ultima modificación 01/10/2024</span>
                            <svg class="bs-icon icon-rotate"><use xlink:href="#i-arrow-down-sm"></use></svg>
                        </div>
                    </button>
                    <div class="cont-comisiones collapse padding-10 w-100" id="tabla-collapse-4" aria-labelledby="tabla-collapse" data-parent="#accordionComisiones">
                        <table width="100%">
                            <tr><th>Ruta Aérea</th><th>Comisión/Fee</th></tr>
                            <tr><td>Desde Lima a USA y CANADA - Premium A,C,D,J,O,P,R,Z</td><td>0%</td></tr>
                            <tr><td>Desde Lima a USA y CANADA - Economy B,E,G,H,K,L,M,N,Q,S,T,U,V,W,Y - Max AP 59d – No aplica Basic Economy</td><td>0%</td></tr>
                            <tr><td>Desde Lima a USA y CANADA - Basic Economy y otras Economy con AP>60d</td><td>0%</td></tr>
                            <tr><td>Otras Rutas incluidos vuelos internos e internacionales</td><td>0% - Fee $00</td></tr>
                        </table>
                    </div>
                </card>
            </article>
        </section>  
    </main>

    <!-- Footer Page -->
    <footer>
        <div id="footer"></div>
    </footer>

    <script src="../../Content/js/jquery.min.js"></script>
    <script src="../../Content/js/bootstrap.bundle.min.js"></script>
    <script src="../../Content/js/js-ct.js"></script>
</body>
</html>