<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Kontrol</title>
    
    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/css/style.css" rel="stylesheet">
    
</head>
<body class="icons-svg flex-c bg-body-login layout-basic layout-user-kontrol">
    <!-- Biblioteca Iconos -->
    <div id="libreria-icons-svg"></div>

    <!-- Main Page -->
    <main>
        <section class="content-main width-responsive flex-c gap-20">
            <div class="logo-ct">
                <a href="/index.html" class="dynamic-link">
                    <picture>
                        <source srcset="../../Content/img/log-iso-1.png" type="image/jpeg">
                        <img src="../../Content/img/log-iso-1.png" alt="" class="w-120px">
                    </picture>
                </a>
            </div>
            <card class="card-form flex-c jc-c ai-c">
                <div class="cont-card-form flex-_c__grid cl-5 ai-c-l gap-20-30 c-white">
                    <div class="flex-c gap-20 span-3">
                        <h2 class="">Portal de Reservas Online</h2>
                        <p>Este es su sitio de reservas en el cual podra realizar toda la gestion de viaje, con esta herramienta obtendra beneficios tanto en costos como en eficiencia y agilidad.
    Las mejores opciones de viajes y disponibilidad para muchos destinos, siempre con los precios mas economicos.</p><p>
    Contamos con la informacion integrada de los mejores proveedores de servicios aereos, de hoteles, autos y asistencia medica, tambien podra consultar sus Informes de viajes en tiempo real entre otros beneficios.</p>
                        <div class="flex-c gap-10">
                            <div class="item-contact flex-c gap-5">
                                <h6>CONTACTO SOPORTE NAVEGACIONAL</h6>
                                <div class="flex-r ai-c gap-5"><svg class="bs-icon"><use xlink:href="#i-message"></use></svg><span>soportenavegacional@continentaltravel.com.pe</span></div>
                                <div class="flex-r ai-c gap-5"><svg class="bs-icon"><use xlink:href="#i-whatsapp"></use></svg><span>969 710 795</span></div>
                            </div>
                            <div class="item-contact flex-c gap-5">
                                <h6>ATENCIÓN EMERGENCIAS - FUERA DE HORARIO DE OFICINA</h6>
                                <div class="flex-r ai-c gap-5"><svg class="bs-icon"><use xlink:href="#i-calendar"></use></svg><span>Lunes a viernes: 18:00 - 9:00 | Sabados a partir de la 13:00 pm, domingos y feriados: 24 Horas</span></div>
                                <div class="flex-r ai-c gap-5"><svg class="bs-icon"><use xlink:href="#i-message"></use></svg><span>emergencias@continentaltravel.com.pe | Telefono: 415 5050 |</span></div>
                                <div class="flex-r ai-c gap-5"><svg class="bs-icon"><use xlink:href="#i-whatsapp"></use></svg><span>975 095 707</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-login span-2 flex-c gap-20">
                        <picture>
                            <source srcset="../../Content/img/logo-ct-negativo.png" type="image/jpeg">
                            <img src="../../Content/img/logo-ct-negativo.png" alt="" class="w-100px">
                        </picture>
                        <h4>Ingresar a Kontrol</h4>
                        <div class="flex-c gap-20 inputs-glass">
                            <input type="text" placeholder="User">
                            <input type="password" placeholder="Password">
                            <div class="flex-r jc-b gap-10 w-100">
                                <div class="flex-r gap-5 ai-c">
                                    <input id="checkRemember" type="checkbox">
                                    <label for="checkRemember"><span>Set up secure device</span></label>
                                </div>
                            </div>
                            <a href="/index.html" class="dynamic-link ct-btn ct-btn-primary w-100 flex-r jc-c">Ingresar</a>
                            <a href="Register" class="dynamic-link font-s-12 c-blue text-c"><span>¿Olvidaste la contraseña?</span></a>
                            <div class="flex-r gap-10 jc-c">
                                <img src="/Content/img/banderas/brlogin.png" alt="">
                                <img src="/Content/img/banderas/enlogin.png" alt="">
                                <img src="/Content/img/banderas/eslogin.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </card>
            <footer class="flex-r jc-c gap-10 ai-c">
                <a href="Register" class="dynamic-link c-white"><span>Registrarme</span></a><span class="opacity-07">|</span>
                <a href="RecoverPassword" class="c-white"><span>Recuperar Contraseña</span></a><span class="opacity-07">|</span>
                <a href="" class="c-white"><span>Soporte</span></a>
            </footer>
            <div class="fond-footer"></div>
        </section>  
    </main>

    <script src="../../Content/js/jquery.min.js"></script>
    <script src="../../Content/js/bootstrap.bundle.min.js"></script>
    <script src="../../Content/js/js-ct.js"></script>
</body>
</html>