<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/css/style.css" rel="stylesheet">
    
</head>
<body class="icons-svg flex-c bg-body-login layout-basic">
    <!-- Biblioteca Iconos -->
    <div id="libreria-icons-svg"></div>

    <!-- Main Page -->
    <main>
        <section class="content-main width-responsive flex-c gap-20">
            <div class="logo-ct">
                <a href="/index.html" class="dynamic-link">
                    <picture>
                        <source srcset="../../Content/img/log-iso-1.png" type="image/jpeg">
                        <img src="../../Content/img/log-iso-1.png" alt="" class="w-120px">
                    </picture>
                </a>
            </div>
            <card class="card-form flex-c jc-c ai-c">
                <div class="cont-card-form flex-c ai-c gap-20 c-white">
                    <picture>
                        <source srcset="../../Content/img/logo-1.png" type="image/jpeg">
                        <img src="../../Content/img/logo-1.png" alt="" class="w-70px">
                    </picture>
                    <h3 class="text-c">Solicita un registro</h3>
                    <p>Ingresa tu correo para la solicitud.</p>
                    <div class="w-100">
                        <div class="flex-c gap-20 inputs-glass">
                            <input type="text" placeholder="tu@correo.electronico">
                            
                            <a href="Login.html" class="dynamic-link ct-btn ct-btn-primary w-100 flex-r jc-c">Enviar</a>
                            <a href="Login.html" class="dynamic-link ct-btn ct-btn-secondary-inverse w-100 flex-r jc-c c-blue"><span>Regresar</span></a>
                        </div>
                    </div>
                </div>
            </card>
            <footer class="flex-r jc-c gap-10 ai-c">
                <a href="/index.html" class="dynamic-link c-white"><span>Home</span></a><span class="opacity-07">|</span>
                <a href="" class="c-white"><span>Soporte</span></a><span class="opacity-07">|</span>
                <a href="" class="c-white"><span>Privacidad</span></a>
            </footer>
            <div class="fond-footer"></div>
        </section>  
    </main>

    <script src="../../Content/js/jquery.min.js"></script>
    <script src="../../Content/js/bootstrap.bundle.min.js"></script>
    <script src="../../Content/js/js-ct.js"></script>
</body>
</html>