<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    
    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/css/style.css" rel="stylesheet">
    
</head>
<body class="icons-svg flex-c">
    <!-- Biblioteca Iconos -->
    <div id="libreria-icons-svg"></div>
    
    <!-- Menu Left Sidebar -->
    <div id="menuSidebarLeft" class="sidebar"></div>
    
    <!-- Header Page -->
    <header>
        <div id="headerPageTop"></div>
    </header>

    <!-- Main Page -->
    <main>
        <section class="content-main width-responsive flex-c gap-20">
            Tablas
        </section>  
    </main>

    <!-- Footer Page -->
    <footer>
        <div id="footer"></div>
    </footer>

    <script src="../../Content/js/jquery.min.js"></script>
    <script src="../../Content/js/bootstrap.bundle.min.js"></script>
    <script src="../../Content/js/js-ct.js"></script>
</body>
</html>